<div class="sidebar-controls">
  <div class="view-type">
    <div class="btn-group">
      <label class="btn btn-success" ng-model="vm.viewType" uib-btn-radio="'list'" uib-uncheckable="false">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
      </label>
      <label class="btn btn-success" ng-model="vm.viewType" uib-btn-radio="'dashboard'" uib-uncheckable="false">
        <span class="glyphicon glyphicon glyphicon-stats" aria-hidden="true"></span>
      </label>
    </div>
  </div>
  <div class="feeds">
    <div class="btn-group" uib-dropdown>
      <button uib-dropdown-toggle type="button" class="btn btn-danger">
        <span class="glyphicon glyphicon-feeds" aria-hidden="true"></span>
        Feed
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="Feed RSS" style="z-index: 1500">
        <label>Formato</label>
        <li class="divider"></li>
        <li role="menuitem"><a href="#" ng-click="vm.copyFeedLink('rss2')">RSS 2.0</a></li>
        <!-- <li role="menuitem"><a href="#" ng-click="vm.copyFeedLink('json1')">JSON 1.0</a></li> -->
        <li role="menuitem"><a href="#" ng-click="vm.copyFeedLink('atom1')">Atom 1.0</a></li>
      </ul>
    </div>
    <div uib-tooltip="{{vm.feedTooltip}}"
        tooltip-is-open="vm.feedTooltipIsOpen"
        class="downloading"
        tooltip-placement="bottom-right">
    </div>
  </div>
</div>

<div class="sidebar-filters" ng-mouseleave="vm.resetPreSelect()">
  <label>PAÍSES</label>
  <span class="count-type">( {{ vm.getTotalCountByType('group') }} )</span>
  <ul class="list-group filter-clear">
    <a href="#" class="list-group-item"
       ng-click="vm.clearFilters()"
       ng-class="{'active': !vm.zotero.selectedGroup}">
      <span>Todos</span>
    </a>
  </ul>
  <ul class="list-group menu-item-container">
    <menu-item class="list-group-item"
       ng-repeat="group in vm.zotero.groups track by group.id"
       item="group"
       type="group"
       ng-click="vm.goToGroup(group)"
       ng-mouseenter="vm.setPreSelectWithDelay(group, 'group')"
       ng-mouseleave="vm.clearItemDelay(group)"
       ng-class="{'active': vm.zotero.selectedGroup === group}">
    </menu-item>
  </ul>

  <label>TEMAS</label>
  <span class="count-type">( {{ vm.getTotalCountByType('tag') }} )</span>
  <span><a href="/assets/paginas/acerca-de.html#categorias" target="_blank">&nbsp;<i class="fa fa-question-circle" aria-hidden="true"></i></a></span>
  <ul class="list-group menu-item-container">
    <menu-item href="#" class="list-group-item"
       ng-repeat="tag in vm.zotero.tags track by tag.id"
       item="tag"
       type="tag"
       ng-click="vm.goToTag(tag)"
       ng-mouseenter="vm.setPreSelectWithDelay(tag, 'tag')"
       ng-mouseleave="vm.clearItemDelay(tag)"
       ng-class="{'active': vm.zotero.selectedTags[tag.id]}">
    </menu-item>
  </ul>

  <label>AÑO</label>
  <span class="count-type">( {{ vm.getTotalCountByType('year') }} )</span>
  <ul class="list-group menu-item-container">
    <menu-item href="#" class="list-group-item"
       ng-repeat="year in vm.zotero.getYears() track by year.id"
       item="year"
       type="year"
       ng-click="vm.goToYear(year)"
       ng-mouseenter="vm.setPreSelectWithDelay(year, 'year')"
       ng-mouseleave="vm.clearItemDelay(year)"
       ng-class="{'active': vm.zotero.selectedYear == year}">
    </menu-item>
  </ul>
</div>
