sidebar {
  background-color: $brand-warning;
  padding-top: 15px;

  @media screen and (min-width: 767px) {
    min-width: 270px;
  }

  .sidebar-controls {
    display: flex;
    justify-content: space-between;

    .view-type {
      margin-bottom: 20px;

      span {
        color: white;
      }
    }
  
    .feeds {
      height: 34px;

      .glyphicon-feeds {
        background-image: url('/assets/images/feed-icon.svg');
        width: 14px;
        height: 14px;
        margin-right: 4px;
      }

      .dropdown-menu {
        left: initial;
        right: 0;
      }

      .dropdown-menu label {
        padding: 3px 20px 0px 20px;
        color: $gray-light;
        margin-bottom: 0px;
      }
    }
  }

  .sidebar-filters {
    padding-bottom: 20px;

    .filter-clear {
      a {
        border-radius: 0px !important;
        width: 100%;
      }
    }

    label {
      color: $brand-primary;
      font-size: 1.3em;
    }

    ul + label {
      margin-top: 20px;
    }

    ul.list-group {
      margin: 0px -15px;
      margin-bottom: 0px !important;
      position: relative;

      a.list-group-item {
        border-radius: 0px;
        font-size: 1.2em;
        color: white;
        font-weight: 100;
        background: transparent;
        border: none;
        height: 35px;
        padding: 7px 15px;

        &:active, &.active {
          background: none;
          font-weight: bold;
          span {
            text-shadow: #000 1px 1px 0px;
          }
        }
        &.active:hover {
          background: lighten($brand-primary, 5%);
        }
        &:hover {
          background: lighten($brand-warning, 5%);
        }
      }

      menu-item {
        position: absolute;
        -webkit-transition: top 1s ease-out, opacity 1s;
        -moz-transition: top 1s ease-out, opacity 1s;
      }

      .moving {
      	opacity: 0.25;
      	z-index: 10;
      }
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
      padding-top: 15px;

      ul.list-group {
        // margin: 0px;
        a.list-group-item {
          display: inline-block;
          // border-radius: 4px !important;
          // margin-right: 5px;
        }
      }
    }

    .count-type {
      color: white;
      position: relative;
      top: -2px;
    }
  }
}
