<div class="fullheader bloque2">
  <div class="container-fluid info">
    <div class="row">
      <div class="col-md-12">
        <h1>
          Encontrá información sobre <br>
          Derechos digitales a través de
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row medios">
          <div class="col-md-4">
            <span class="fa fa-link"></span>
            <p>enlaces a las redes sociales</p>
          </div>
          <div class="col-md-4">
            <span class="fa fa-newspaper-o"></span>
            <p>medios de comunicación</p>
          </div>
          <div class="col-md-4">
            <span class="fa fa-building"></span>
            <p>páginas institucionales</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid tags">
      <div class="row">
        <div class="col-md-12">
          <div class="container">
            <h2>
              privacidad • libertad de expresión • derechos de autor<br>
              neutralidad de la red • ciberseguridad • género • democracia • innovación
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
