<div class="container-fluid fullheader bloque1" ng-controller="headerBloque1Ctrl">
  <div class="row">
    <div class="col-md-12">
      <div class="main-header">
        <img src="assets/images/logo-sin-texto-blanco.svg">
        <h1>
          <small>Observatorio</small>
          Antipyrawebs
        </h1>
      </div>
    </div>
    <div class="col-md-12" ng-init="init()">
      <div id="nota1-background"></div>
      <div id="nota1-content">
        <p class="resaltado">es un repositorio en línea y libre</p>
        <p class="resaltado">que mapea de manera colaborativa</p>
        <p class="sub">las iniciativas del sector privado, estatal, academia y sociedad civil de diferentes países de Latinoamérica</p>
      </div>
    </div>
    <div class="col-md-12">
      <div class="nota2">
        <p>
          donde encontrarás noticias que se refieren o afectan directa o
          indirectamente los derechos de las personas en Internet a nivel local y regional
        </p>
      </div>
      <div class="main-btn">
        <div class="btn-group btn-group-lg">
          <button class="btn btn-link" scroll-to="#home">
            <span class="fa fa-home" aria-hidden="true"></span>
          </button>
          <button class="btn btn-link" scroll-to="#info">
            <span class="fa fa-bullhorn" aria-hidden="true"></span>
          </button>
          <button class="btn btn-link" scroll-to="#content">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
