.navbar-top {
  display: none;
  background: $brand-warning;
  box-shadow: 0px -3px 11px #000;
  border: none;
  width: 100%;

  .navbtn-danger {
    background: $brand-danger;
    & > a:hover {
      background: lighten($brand-danger, 5%);
    }
    & > a:focus, & > a:active {
      background: darken($brand-danger, 5%);
    }
  }

  .navbtn-warning {
    background: $brand-warning;
    & > a:hover {
      background: lighten($brand-warning, 5%);
    }
    & > a:focus, & > a:active {
      background: darken($brand-warning, 5%);
    }
  }

  .navbtn-info {
    background: $brand-info;
    & > a:hover {
      background: lighten($brand-info, 5%);
    }
    & > a:focus, & > a:active {
      background: darken($brand-info, 5%);
    }
  }

  .navbtn-primary {
    background: $brand-primary;
    & > a:hover {
      background: lighten($brand-primary, 5%);
    }
    & > a:focus, & > a:active {
      background: darken($brand-primary, 5%);
    }
  }

  .navbar-header {
    @media screen and (max-width: 768px) {
      float: left;
    }
  }

  .navbar-brand {
    padding: 5px 15px;
    height: 70px;
    background: white;
    .md, .xxs {
      display: none;
    }
    img {
      height: 60px;
    }
    @media screen and (min-width: 420px) {
      .md {
        display: block;
      }
    }
    @media screen and (max-width: 420px) {
      .xxs {
        display: block;
      }
    }
  }

  .navbar-nav {
    float: right;
    @media screen and (min-width: 768px) {
      margin-right: -15px;
    }
    @media screen and (max-width: 768px) {
      float: right;
      margin: 0px -15px 0px 0px;
    }

    li {
      @media screen and (max-width: 768px) {
        float: left;
      }

      a {
        height: 70px;
        span {
          color: white;
          font-size: 40px;
        }
      }
    }
  }
}

.fixed-top {
  position: fixed;
  top: 0;
}

.fullheader {
  @media screen and (min-width: 768px) {
    min-height: 100vh;
  }
}

.bloque1 {
  background: $brand-warning url(/assets/images/pattern_2.png) no-repeat;
  background-position: top;
  background-size: 80%;
  background-position-y: 160%;

  @media screen and (max-width: 768px) {
    background-position-y: -240px;
    background-size: 140%;
  }

  .main-header {
    text-align: center;
    padding-top: 110px;

    @media screen and (max-width: 992px) {
      padding-top: 80px;
    }
    @media screen and (max-width: 768px) {
      padding-top: 20px;
    }

    img {
      height: 190px;
    }

    h1 {
      display: block;
      color: white;
      text-align: center;
      font-size: 46px;
      margin-top: 0;

      small {
        color: white;
        display: block;
      }
    }
  }

  #nota1-background {
    -moz-transform: rotate(-0.5deg) skew(-6deg, 0deg);
    -webkit-transform: rotate(-0.5deg) skew(-6deg, 0deg);
    -o-transform: rotate(-0.5deg) skew(-6deg, 0deg);
    -ms-transform: rotate(-0.5deg) skew(-6deg, 0deg);
    transform: rotate(-0.5deg) skew(-6deg, 0deg);
    box-shadow: 6px 1px 18px;
    width: 560px;
    background: white;
    margin: auto;
    height: 110px;

    @media screen and (max-width: 560px) {
      max-width: 95%;
    }
  }

  #nota1-content {
    width: 460px;
    padding: 15px;
    margin: auto;
    position: relative;
    text-transform: uppercase;
    color: $brand-primary;
    line-height: 23px;
    text-align: center;

    p.sub {
      font-size: 15px;
      line-height: 18px;
    }
    p.resaltado {
      font-weight: 800;
      margin: 0px;
      font-size: 24px;
    }

    @media screen and (max-width: 560px) {
      max-width: 100%;
    }
    @media screen and (max-width: 490px) {
      p.resaltado {
        font-size: 19px;
      }
    }
    @media screen and (max-width: 395px) {
      p.resaltado {
        font-size: 17px;
      }
    }
    @media screen and (max-width: 395px) {
      p.resaltado {
        font-size: 17px;
      }
    }
    @media screen and (max-width: 350px) {
      p.resaltado {
        font-size: 15px;
      }
    }
  }

  .nota2 {
    color: white;
    text-transform: uppercase;
    width: 460px;
    text-align: center;
    line-height: 18px;
    font-size: 19px;
    margin: 15px auto;

    @media screen and (max-width: 560px) {
      max-width: 100%;
      font-size: 15px;
    }
  }

  .main-btn {
    text-align: center;
  }

  .btn-group {
    .btn {
      span {
        color: white;
        font-size: 30px;
      }
      &:hover span {
        color: $brand-info;
      }
    }
  }
}

.bloque2 {
  background: white;
  background: url('/assets/images/pattern_3.png') no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  background-size: 35%;
  min-height: 100vh;

  .medios {
    text-transform: uppercase;
    .col-md-4 {
      text-align: center;
    }
    span.fa {
      color: $brand-warning;
      font-size: 100px;
    }
    p {
      text-align: center;
      text-transform: uppercase;
      font-size: 28px;
      font-style: italic;
      line-height: 30px;
      margin-top: 15px;
    }
  }

  .tags {
    background: $brand-primary;
    padding: 20px;
    color: white;
    min-height: 136px;
    margin: 60px -15px;
  }

  .info {
    // min-height: 80vh;
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    padding: 40px 0px;
    font-size: 45px;
  }

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }

  h3 {
    text-align: center;
    font-weight: bold;
  }

  @media screen and (max-width: 768px) {
    background-size: 95%;

    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 20px
    }

    h3 {
      margin: 30px auto;
    }

    .medios {
      margin-bottom: 20px;

      span.fa {
        font-size: 80px;
      }
      p {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
}
