<nav class="navbar navbar-static-top navbar-top fixed-top" fixed-top>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="" scroll-to="#home">
        <img alt="Anti-Pyrawebs" class="md" src="assets/images/logo-header.svg">
        <img alt="Anti-Pyrawebs" class="xxs" src="assets/images/logo-sin-texto.svg">
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li class="navbtn navbtn-danger">
        <a href="" scroll-to="#home">
          <span class="fa fa-home" aria-hidden="true"></span>
        </a>
      </li>
      <li class="navbtn navbtn-primary">
        <a href="" scroll-to="#info">
          <span class="fa fa-bullhorn" aria-hidden="true"></span>
        </a>
      </li>
      <li class="navbtn navbtn-info">
        <a href="" scroll-to="#content">
          <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
