.footer {
  text-align: right;
  padding: 20px 10px;
  margin-top: 0px;
  background: $brand-primary;
  color: white;

  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;

  p {
    margin: 15px;
    text-align: center;
  }

  .gitlab-logo {
    height: 75px;
  }

  .licencia {
    text-align: center;
    font-weight: 100;
    p a {
      color: white;
      font-size: 15px;
    }
  }

  .accessnow img {
    height: 55px;
  }

  .espacio {
    width: 320px;
    text-align: center;
    h2 {
      font-size: 24px;
    }
  }
}
