<div class="footer">

  <!-- <div class="container-fluid">
    <img src="assets/images/TEDIC-logo-blanco.png" alt="Logo de Tedic" class="tedic-logo">
    <p>
      <a href="assets/paginas/acerca-de.html" target="_top">Acerca de</a> | <a href="assets/paginas/terminos-y-condiciones.html" target="_top">Términos y condiciones</a><br />
      <a href="https://creativecommons.org/licenses/by-sa/3.0/es/">Creative Commons BY-SA </a> <br />
      Proyecto creado y desarrollado por <a href="http://tedic.org">TEDIC</a> -
    </p>
    <div class="clearfix"></div>
  </div> -->

  <div>
    <a href="http://tedic.org" target="_top">
      <img src="assets/images/TEDIC-logo-blanco.png" alt="Logo de Tedic" class="tedic-logo">
    </a>
  </div>
  <div>
    <a href="https://gitlab.com/tedicpy/anti-pyrawebs" target="_top">
      <img src="assets/images/gitlab-logo.svg" alt="Logo de Gitlab" class="gitlab-logo">
    </a>
  </div>
  <div class="accessnow">
    <a href="https://www.accessnow.org/" target="_top">
      <img src="assets/images/accessnow.svg" alt="Access Now">
    </a>
  </div>
  <div class="licencia">
    <p>
      <a href="assets/paginas/acerca-de.html" target="_top">Acerca del proyecto</a><br>
      <a href="assets/paginas/terminos-y-condiciones.html" target="_top">Términos y condiciones</a><br />
    </p>
  </div>
  <div class="espacio">
    <h2>Espacio para monitorear derechos <br> digitales a nivel local y regional</h2>
  </div>
</div>
<div class="spinner-container" ng-if="vm.zotero.loading">
  <img src="assets/images/spinner-center.svg" alt="" class="spinner-center">
  <img src="assets/images/spinner.svg" alt="" class="spinner">
</div>
