<div class="meta">
  <a class="date">
    {{ item.data.accessDate | date:vm.zotero.config.dateTimeFormat }}
  </a>
  |
  <a class="group"
     ng-init="group = vm.zotero.getGroup(item.group)"
     ng-click="vm.zotero.goToGroup(group)">
    {{ group.name }}
  </a>
</div>

<a class="title" href="{{ item.data.url || item.links.alternate.href }}" target="_blank">
  {{ item.data.title }}
</a>

<div class="tags">
  <!-- antipyrawebs item link -->
  <a class="badge badge-default"
    ng-init="copyItemLinkPopoverControls = {show: false}"
    ng-click="copyItemLinkPopoverControls.show = !copyItemLinkPopoverControls.show"
    
    uib-popover-template="'copyItemLinkPopoverControls'"
    popover-trigger="'outsideClick'"
    popover-placement="top-left"
    popover-is-open="copyItemLinkPopoverControls.show"
    
    uib-tooltip="Copiar enlace"
    tooltip-placement="bottom-left">
    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
  </a>
  <!-- zotero link -->
  <a class="badge badge-default zotero-link"
    href="{{ item.links.alternate.href }}"
    target="_blank"
    uib-tooltip="Ver en Zotero"
    tooltip-placement="bottom-left">
    Z
    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
  </a>
  <!-- attachment -->
  <a ng-if="item.attachments.length"
    class="badge badge-default"
    ng-click="vm.zotero.downloadAttachment(item);"
    ng-class="{'downloading': item.downloading}"
    target="_blank"
    uib-tooltip="{{item.downloading ? 'Descargando...' : 'Descargar artículo'}}"
    tooltip-placement="bottom-left">
    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
  </a>
  <!-- item name -->
  <a class="badge badge-default tag"
     ng-repeat="tagId in item.tags"
     ng-init="tagDef = vm.zotero.getTag(tagId)"
     ng-show="tagDef"
     ng-click="vm.zotero.goToTag(tagDef)">
    {{ tagDef.name }}
  </a>
</div>

<p class="note" ng-if="item.data.abstractNote">
  {{ item.data.abstractNote }}
  <span ng-show="item.data.abstractNoteOverflow">
    [<a href="{{ item.data.url || item.links.alternate.href}}" target="_blank">Leer más</a>]
  </span>
</p>

<script type="text/ng-template" id="copyItemLinkPopoverControls">
  <div class="popover-custom" style="z-index: 1500">
    <h3 class="popover-title">
      Copiar enlace
      <span ng-click="copyItemLinkPopoverControls.show = false" class="close">&nbsp;×</span>
    </h3>
    <div class="popover-content" ng-init="itemLink = vm.zotero.generateItemLink(item)">
      <div class="input-group">
        <input type="text" class="form-control" ng-value="itemLink">
        <span class="input-group-btn">
          <button class="btn btn-default downloading"
                  type="button"
                  ng-click="vm.copyItemLink(itemLink, copyItemLinkPopoverControls)"
                  uib-tooltip="Enlace copiado"
                  tooltip-trigger="'none'"
                  tooltip-placement="bottom-left"
                  tooltip-is-open="copyItemLinkPopoverControls.showDoneTooltip">
            <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
            Copiar
          </button>
        </span>
      </div>
    </div>
  </div>
</script>