<div class="list-item">
  <!-- show single item -->
  <div ng-if="vm.zotero.selectedItem" class="show-single-item">
    <div class="list-group" ng-init="item = vm.zotero.selectedItem">
      <div class="list-group-item item" ng-include="'item'"></div>
    </div>
  </div>

  <!-- show list -->
  <div ng-if="!vm.zotero.selectedItem" ng-class="{'loading': vm.zotero.loading}">
    <label>
      NOTICIAS
      <span ng-show="vm.zotero.totalResults > 0">( {{ vm.zotero.totalResults }} )</span>
    </label>
    <h3 ng-show="!vm.zotero.loading && !vm.zotero.hasResults">No se encontraron noticias</h3>
    <div class="list-group">
      <div class="list-group-item item"
          dir-paginate="item in vm.zotero.selectedItems | itemsPerPage: vm.zotero.config.pageSize track by item.key"
          total-items="vm.zotero.totalResults"
          current-page="vm.zotero.currentPage"
          ng-include="'item'">
      </div>
    </div>
    <dir-pagination-controls on-page-change="vm.zotero.init && vm.zotero.getPage(newPageNumber)"></dir-pagination-controls>
  </div>
</div>