$brand-primary:         #17988E;
$brand-success:         #17988E;
$brand-info:            #1dc4b6;
$brand-warning:         #FEB83E;
$brand-danger:          #FA6726;

$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:100i,200,300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through gulp
/* inject:scss */
@import '../components/footer/footer';
@import '../components/header/header';
@import '../components/modal/modal';
@import '../components/sidebar/menuItem/menuItem';
@import '../components/sidebar/sidebar/sidebar';
/* endinject */

body {
  font-family: 'Alegreya Sans', sans-serif;
  background-repeat: repeat;
  background-size: 400px 400px;
}

.loading {
  opacity: .5;
  pointer-events: none;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-static-top {
  z-index: 2000;
}

.jumbotron {
  margin: 0px;
  padding: 0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-radius: 0px !important;
  border: none !important;

  img.logo {
    width: 150px;
    display: block;
    margin: auto;
  }

  p {
    margin: 0px;
  }

  h1, p {
    color: #fff;
    text-align: center;
  }

  h1 {
    font-size: 30px;
  }

  .backdrop {
    background: rgba(#000000, 0.4);
    border-radius: 0px;
    padding: 20px;
  }
}

.main.jumbotron {
  padding: 20px;
}

.heading {
  background: #fa6726;
  color: white;
  font-size: 1.5em;

  @media screen and (max-width: 768px) {
    font-size: 1.2em;
  }
}

.dashboard.charts {
  background: rgba(255, 255, 255, 0.65);
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-top: 15px;

  .chart {
    padding: 15px;
  }
}

.state-content {
  border-top: 16px solid $brand-warning;
}

.list-item {
  margin-bottom: 15px;
  margin-top: 15px;

  .item {
    padding: 20px 15px;
    background: rgba(255, 255, 255, 0.65);

    .meta {
      color: $brand-primary;
    }

    a.title {
      font-family: 'Alegreya Sans', sans-serif;
      font-size: 1.3em;
      font-weight: 500;
      display: block;
      color: $brand-primary;
    }

    .tags {
      .badge.badge-default {
        color: $brand-primary;
        font-weight: 100;
        background-color: #dfeaea;
        margin-right: 5px;
      }
    }

    p {
      font-size: 1.2em;
      font-weight: 100;
      margin-top: 15px;
      margin-bottom: 0px;
    }
  }
}

.row.full-height {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.flex {
  display: flex;
}

.zotero-link {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 11px;
}

label span {
  color: #a09f9f;
}

.tedic-logo {
  float: right;
  width: 60px;
}

.clearfix {
  clear: both;
}

.spinner {
  margin: 20px;
  width: 100px;
  height: 100px;
  -webkit-animation-name: spinner;
  -webkit-animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spinner;
  -moz-animation-duration: 5000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spinner;
  -ms-animation-duration: 5000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spinner;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spinner {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(-360deg); }
}
@-moz-keyframes spinner {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spinner {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(-360deg); }
}
@keyframes spinner {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(-360deg);
  }
}

.spinner-center {
  margin: 20px;
  width: 100px;
  height: 100px;
  -webkit-animation-name: spinner-center;
  -webkit-animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spinner-center;
  -moz-animation-duration: 5000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spinner-center;
  -ms-animation-duration: 5000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spinner-center;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spinner-center {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spinner-center {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spinner-center {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spinner-center {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.spinner-container {
  background: #ffffffad;
  width: 140px;
  height: 140px;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 70px;
  transform: translate(-50%, -50%);
}

.spinner-center, .spinner {
  position: absolute;
}

.btn-nav {
  .btn:active, .btn.active {
    box-shadow: none;
    background: $brand-primary;
    color: white;
  }

  .btn {
    color: $brand-primary;
    border-color: #ccc;
  }
}

#home, #info, footer {
  overflow: hidden;
}

.downloading + [uib-tooltip-popup] {
  .tooltip-arrow {
    border-top-color: $brand-danger;
    border-bottom-color: $brand-danger;
  }
  .tooltip-inner {
    background: $brand-danger;
  }
}

.popover-custom {
  margin: -10px -15px;

  .close {
    top: -4px;
    position: relative;
  }
}