menu-item.list-group-item {
  font-size: 1.2em;
  color: white;
  font-weight: 100;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
  height: 35px;
  overflow: hidden;
  border-radius: 0px !important;
  width: 100%;

  &:active, &.active {
    background: none;
    font-weight: bold;
    span {
      text-shadow: #000 1px 1px 0px;
    }
  }
  &.active:hover {
    background: lighten($brand-primary, 10%);
  }
  &:hover {
    background: lighten($brand-warning, 5%);
  }

  div, .progress {
    height: 35px;
  }

  .progress {
    margin: 0px;
    border-radius: 0px;
    background: none;
    box-shadow: none;

    .progress-bar {
      box-shadow: none;
    }
  }

  div.menu-text {
    position: relative;
    top: -35px;
    padding: 7px 15px;
  }
}
