<uib-progress max="vm.sidebar.maxCountByTypePreview[vm.type] || vm.sidebar.maxCountByType[vm.type] || 1">
  <uib-bar value="vm.getPrev()" type="info"></uib-bar>
  <uib-bar value="vm.getCount()" type="success"></uib-bar>
</uib-progress>
<div class="menu-text">
  <span>
    {{vm.item.name}}
    <small ng-if="!vm.sidebar.preSelectShow">( {{vm.count}} )</small>
    <small ng-if="vm.sidebar.preSelectShow">( {{vm.preSelectCount}} )</small>
    <small>( {{vm.getPercent() | number:2}} % )</small>
  </span>
</div>
