<div ng-include="'header'"></div>

<div id="content" class="container-fluid">
  <div class="row full-height">
    <sidebar view-type="vm.viewType" class="col-md-2 col-sm-3 col-xs-12"></sidebar>
    <list id="list" ng-if="vm.viewType === 'list'" class="col-md-10 col-sm-9 col-xs-12 state-content"></list>
    <dashboard ng-if="vm.viewType === 'dashboard'" class="col-md-10 col-sm-9 col-xs-12 state-content"></dashboard>
  </div>
</div>

<footer/>