<div class="container-fluid dashboard charts">
  <div class="row">
    <div class="col-md-6 chart">
      <div id="pie" style="width: 100%; min-height:400px;"></div>
    </div>
    <div class="col-md-6 chart">
      <div id="bar" style="width: 100%; min-height:400px;"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 chart">
      <div id="bar-source" style="width: 100%; min-height:400px;"></div>
    </div>
    <div class="col-md-6 chart">
      <div id="radar" style="width: 100%; min-height:400px;"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 chart">
      <div id="calendar" style="width: 100%; min-height:1000px;"></div>
    </div>
  </div>
</div>
