body {
  font-family: 'Alegreya Sans', sans-serif;
  color: #333;
  font-size: 1.2em;
  margin: 0;
  }

.bodystatic{
  padding-left: 10%;
  padding-right: 10%;
	padding-bottom: 5%;
	padding-top: 5%;
  background: url('/pattern_b&n.jpg') fixed;
  background-repeat: repeat;
  background-size: 400px 400px;
}

.headerstatic {
  background-color: #feb83e;
  height: 90px;
}

.headerimage {
    height: 80px;
    width: 80px;
    float: left;
    margin: 5px;
}

.footerstatic {
  color: #fff;
  background-color: #202020;
  line-height: 20px;
  margin-top: 0px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-top: 20px;
  text-align: center;
  font-size: small;
}

.footerstatic a {
    color: #17988e;
    text-decoration: none;
}

.footerstatic img {
    width: 5%;
}
